@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d4dce4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d4dce4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}
.provincia {
    cursor: pointer;
    transition: 0.5s;
}

.provincia:hover {
    filter: brightness(70%);
    transition: 0.5s;
}

.prediccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-group{
    background-color: #fff;
}

.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mapa {
    width: 100%;
    height: auto;
    scale: 1.5;
    background-color: #f0f8ff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}
#top{
    background-color: #5a93bd;
    margin-top: -10px;
    padding: 0;
}
.container-fluid{
    background-color: #5a93bd;
    margin-top: 10px;
    padding: 0;

}
#opciones{
    display: none;
}
.letra-separadora {
    padding: 0.5em;
    font-size: 2em; 
    font-weight: bold; 
    text-align: center; 
    background-color: #5a93bd;
    justify-content: center;
}
@media (max-width: 768px) {
    .mapa {
        width: 100%;
        height: auto;
        scale: 1;
    }
}