@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.provincia {
    cursor: pointer;
    transition: 0.5s;
}
.provincia:hover {
    filter: brightness(70%);
    transition: 0.5s;
}
.container {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapa {
    width: 100%; /* Asume el 100% del ancho en dispositivos pequeños */
    height: auto; /* Mantiene la proporción del mapa */
    scale: 1.5;
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}

/* Cuando la pantalla tiene al menos 768px de ancho (tablets y dispositivos más grandes) */
@media (min-width: 768px) {
    .mapa {
        width: 80%; /* Asume el 80% del ancho en dispositivos más grandes */
        height: auto; /* Mantiene la proporción del mapa */
    }
}

